@import url('http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');

@font-face {
    font-family: 'menuFont'; /*naziv koji cemo koristiti*/
    src: url('font/Suissnord.otf'); /*URL*/
}

@font-face {
    font-family: 'defaultFont';
    src: url('font/Semi-Casual.ttf');
}


* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: 360px;
    margin: 0 auto;
    background-image: url('img/mainBackground1.jpg');
    background-size: 100%;
    font-family: 'Josefin Sans' sans-serif;
    text-align: justify;
}

.red {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    display: block;
    float:left;
	min-height: 1px;
}

.kolona {
    margin: 0.5%;
    background-color: rgba(0, 0, 0, .2);
    padding: 5px;
    border-radius: 6px;
    display: block; /*da ne bi morali float kasnije clearat*/
    float: left;
    min-height: 25px;
    min-width: 200px;
    overflow: hidden;
    transition: background 0.5s ease;
}

.kolona .red .kolona { /*ako imamo red unutar kolone on je transparentan*/
    background-color: rgba(0, 0, 0, 0);
}

.kolona:first-child{
	margin-left: 0px;
}

.kolona:last-child{
	margin-right: 0px;
}

.kolona.dva a {
    text-decoration: none;
    color: white;
}

.kolona.dva.meni {
    font-family: 'menuFont';
    border-radius: 3px;
    font-size: 90%;
    margin: 0.41%;
    background-color: darkred;
    text-align: center;
    color: white;
}

.kolona.dva.meni:hover {
    background-color: firebrick;
}

ul li {
    display: block;
    float: left;
    text-align: center;
    margin: 0.5%;
}

/*artikli*/
div.scijena {
    text-align: center;
    color: red;
}

.kolona.prazno, .kolona.tri.brendovi, .logo {
    background-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4 {
    text-indent: 5%;
    font-family: 'defaultFont';
    color: black;
    min-width: 10%;
}

h2.artikli.naslov {
    text-indent: 1%;
}

.novost {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

#new-store {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

#logo {
    width: 40%;
    height: auto;
}

.kolona.dvanaest.footer {
    padding-top: 7%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.kolona.dvanaest.header {
    padding-bottom: 7%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}


/*prodavnica*/
.artikli.slika {
    max-width: 162px;
    max-height: 162px;
    margin: 0%;
    padding: 0%;
}

.red.artikli .kolona p {
    text-indent: 28%;
}

.red.artikli {
    margin-left: 4%;
}

.forma {
    border: solid;
    border-radius: 5px;
    border-color: rgba(170, 13, 3, 0.22);
}

.forma select, .forma input, .forma textarea {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(170, 13, 3, .10)
}

.forma h3 {
    text-indent: 5%;
}

.forma .buttonWrap {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.forma button {
    width: 40%;
    margin-bottom: 5%;
}

.forma input {
    border-radius: 4px;
    border-style: solid 1px;
    border-color: rgba(170, 13, 3, 0.17);
}

/*kontakt*/
#slikaKontakt {
    max-width: 95%;
    max-height: auto;
}

/*poslovnice*/
.mapa {
    overflow:hidden;
    width:95%;
    margin: 2.5%;
    height:220px;
    resize:none;
    max-width:100%;
}

#gmap {
    height:100%; 
    width:100%;
    max-width:100%;
}

#gmap img {
    max-width:none!important;
    background:none!important;
}

.iframe {
    height:100%;
    width:100%;
    border:0;
}

/*prijava*/
.centar {
    text-align: center;
}

/*---- SIRINA KOLONA --*/
.kolona.dvanaest {
    width: 100%;
}

.kolona.devet {
    width: 74.44%;
}

.kolona.osam {
    width: 65.334%;
}

.kolona.sest {
    width: 49.5%;
}

.kolona.cetiri {
    width: 32.667%;
}

.kolona.tri {
    width: 24.1%;
}

.kolona.dva {
    width: 15.833%;
}

.kolona.jedan {
    width: 7.417%;
}