@import url('http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');

@font-face {
    font-family: 'menuFont'; /*naziv koji cemo koristiti*/
    src: url('font/Suissnord.otf'); /*URL*/
}

@font-face {
    font-family: 'defaultFont';
    src: url('font/Semi-Casual.ttf');
}


* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: 360px;
    margin: 0 auto;
    background-image: url('img/mainBackground1.jpg');
    background-size: 100%;
    text-align: justify;
}

.red {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    display: block;
    float:left;
	min-height: 1px;
}

.kolona {
    margin: 0.5%;
    background-color: rgba(0, 0, 0, .2);
    padding: 5px;
    border-radius: 6px;
    display: block; /*da ne bi morali float kasnije clearat*/
    float: left;
    min-height: 25px;
    min-width: 200px;
    overflow: hidden;
    transition: background 0.5s ease;
}

#wrapperDiv {
  width: 100%;
  height: auto;
  margin: 0%;
}

p, label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.kolona .red .kolona { /*ako imamo red unutar kolone on je transparentan*/
    background-color: rgba(0, 0, 0, 0);
}


.kolona:first-child{
	margin-left: 0px;
}

.kolona:last-child{
	margin-right: 0px;
}

.kolona.dva a {
    text-decoration: none;
    color: white;
}

.kolona.dva.meni {
    font-family: 'menuFont';
    border-radius: 3px;
    font-size: 90%;
    margin: 0.41%;
    background-color: darkred;
    text-align: center;
    color: white;
}

.kolona.dva.meni:hover {
    background-color: firebrick;
}

ul li {
    display: block;
    float: left;
    text-align: center;
    margin: 0.5%;
}

/*artikli*/
div.scijena {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: red;
}

div.snaziv {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 14px;
}

.kolona.prazno, .kolona.tri.brendovi, .logo {
    background-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4 {
    text-indent: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    min-width: 10%;
}

h2.artikli.naslov {
    text-indent: 1%;
}

.novost {
    color: black;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

#new-store {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

#logo {
    width: 40%;
    height: auto;
}

.kolona.dvanaest.footer {
    padding-top: 7%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.kolona.dvanaest.header {
    padding-bottom: 7%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

/*carousel*/
.kolona.devet.snizenje ul {
    width: 90%;
    margin-left: 7%;
    margin-right: 3%;
}

li.buttonPrev {
    color: white;
    background-color: rgba(139, 0, 0, .7);
    height: 160px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 5px;
    transition: background 0.4s ease;
}

li.buttonPrev:hover {
    background-color: firebrick;
}

li.buttonPrev div {
    height: auto;
    padding-top: 72px;
    user-select: none;
}

.hide {
  display: none;
}

/*prodavnica*/
.artikli.slika, ul.artikli img {
    max-width: 162px;
    max-height: 162px;
    margin: 0%;
    padding: 0%;
}

.red.artikli .kolona p {
    text-indent: 28%;
}

.red.artikli {
    margin-left: 4%;
}

.forma {
    border: solid;
    border-radius: 5px;
    border-color: rgba(170, 13, 3, 0.22);
}

.forma select, .forma input, .forma textarea {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(170, 13, 3, .10)
}

.forma h3 {
    text-indent: 5%;
}

.forma .buttonWrap, .forma label, ul.artikli {   /*buttonWrap je za centriranje iskorišten*/
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.forma button {
    width: 25%;
    margin-bottom: 5%;
}

.forma input {
    border-radius: 4px;
    border-style: solid 1px;
    border-color: rgba(170, 13, 3, 0.17);
}

ul li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/*kontakt*/
#slikaKontakt {
    max-width: 95%;
    max-height: auto;
}

.kolona.cetiri.prazno {
    display: block;
    float: left;
}

/*poslovnice*/
.mapa {
    overflow:hidden;
    width:95%;
    margin: 2.5%;
    height:220px;
    resize:none;
    max-width:100%;
}

#gmap {
    height:100%;
    width:100%;
    max-width:100%;
}

#gmap img {
    max-width:none!important;
    background:none!important;
}

.iframe {
    height:100%;
    width:100%;
    border:0;
}

/*prijava*/
.centar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/*validacija*/
.pValid {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  text-indent: 0%;
  color: red;
}

.odjavaLink {
  display: block;
  float: right;
  color: darkred;
  font-size: 20px;
  margin-right: 1%;
}


/*---- SIRINA KOLONA --*/
.kolona.dvanaest {
    width: 100%;
}

.kolona.devet {
    width: 74.3%;
}

.kolona.osam {
    width: 65.334%;
}

.kolona.sest {
    width: 49.5%;
}

.kolona.cetiri {
    width: 32.667%;
}

.kolona.tri {
    width: 24.1%;
}

.kolona.dva {
    width: 15.833%;
}

.kolona.jedan {
    width: 7.417%;
}


/*mobilni uređaji*/
@media screen and (max-width: 424px) {

    .kolona, .kolona.devet, .kolona.osam, .kolona.sest, .kolona.cetiri, .kolona.tri, .kolona.jedan {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .kolona.dva.meni {
        margin-left: 24.5%;
    }

    img {
        display: block;
        margin: 0 auto;
    }

}

@media screen and (max-width: 801px) {

    .kolona, .kolona.devet, .kolona.osam, .kolona.sest, .kolona.cetiri, .kolona.tri, .kolona.jedan {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .kolona.dva.meni {
        width: 49%;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 862px) {
    .kolona, .kolona.devet, .kolona.osam, .kolona.sest, .kolona.cetiri, .kolona.tri, .kolona.jedan {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .kolona.dva.meni {
        width: 31%;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}
